.stats{
    width:90%;
    margin:-40px auto 80px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{

    background:white;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;
}

.stat-card:hover{

    transform:translateY(-8px);

}

.stat-card h2{

    color:#2563eb;

    font-size:40px;

}

.stat-card p{

    margin-top:10px;

    color:#64748b;

    font-size:18px;

}

@media(max-width:900px){

.stats{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.stats{

grid-template-columns:1fr;

}

}