

.why-section{
    padding:100px 8%;
    background:#2980b9;
    text-align:center;
}

.why-section h2{
    font-size:48px;
    color:#2c3e50;
    margin-bottom:60px;
    font-weight:700;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.why-card{
    background:#f8fafc;
    border-radius:20px;
    padding:40px 30px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.why-card span{
    font-size:55px;
    display:block;
    margin-bottom:20px;
}

.why-card h3{
    color:#3498db;
    font-size:28px;
    margin-bottom:20px;
}

.why-card p{
    color:#666;
    font-size:18px;
    line-height:1.8;
}

@media(max-width:1100px){

    .why-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:700px){

    .why-section{
        padding:70px 20px;
    }

    .why-section h2{
        font-size:34px;
    }

    .why-grid{
        grid-template-columns:1fr;
    }

}